[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
tensorflow-hub = "*"
torch = "*"
torchvision = "*"
transformers = "*"
tensorflow = "*"
pillow = "*"
opencv-python-headless = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
